{% extends 'base.html.twig' %}

{% block title %}Ajouter une langue{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">Ajouter une langue</button>

    {{ form_end(form) }}

{% endblock %}
