{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Editer{% endblock %}

{% block body %}


    {% for langue in pictureCategory.pictureCategoryTranslations %}
        {% for rest in langue.languageAvailable %}
            {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">Editer</button>

    {{ form_end(form) }}

{% endblock %}
