{% extends 'base.html.twig' %}

{% block title %}Toutes les traductions{% endblock %}

{% block body %}





    <table class="table">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">catégorie</th>
            <th scope="col">traduit en </th>
        </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">id</th>
                <td>catégorie name</td>
                <td>traduit en</td>

            </tr>

        </tbody>
    </table>






{% endblock %}
